# Compiled
*.elc

# Packaging
.cask
/elpa/

# Backup files
/*~
/auto-save-list/

/.emacs.desktop*
/ac-comphist.dat
/config.el
/custom*.el
/ido.last
/recentf
/semanticdb/
/srecode-map.el
/.mc-lists.el
/bookmarks
/tramp
/eshell/history
/eshell/lastdir
/url/cache/*
/url/cookies
